extends ../layout

block content
  include ../header.jade
  
  section.articles.row
    block articleTemplate
      .article.col.s12.m6
        .resumeArticle.col.s12.m8.z-depth-4
          .titleArticle
            h6 Title
             span subitle
          p.textResume
            // Resume Maximum : 200 char
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod a orci in tincidunt. Donec gravida dolor est, id porttitor eros accumsan in. Proin semper commodo convallis. Vestibulum ante amet.
          .plus 
            //lire la suite de l'article
            a(href="#")+
        .imageArticle.col.m4.z-depth-4
          img(src="../img/testImg01.png").responsive-img
        
    block articleTemplate
    block articleTemplate
