extends ../layout

block content
  include ../header.jade
  
  section.home
    article.logoPresentation
      img.responsive-img(src='../img/logoBlogContours02.svg')
      p Bienvenue sur le Blog du Dev'
      button.button
        a(href="../articles") Voir les articles
  
