// out: ../styles/style.css, sourcemap: true, compress: true
//

@silver : #C5C1C0;
@platinium : #EAE4E3;
@richBlack : #0A1612;
@metal : #1A2930;
@sandstorm : #F7CE3E;
@oliveBlack : #3F3F37;
@denim : #1A2930;

@font-face {
  font-family : "freFont";
  src: url('../fonts/Friedrichshain-Regular.otf');
}

@font-face {
  font-family : "geo";
  src: url('../fonts/Geomanist-Regular.otf');
}

.vertical-align{
  position: relative;
  top : 50%;
  transform: translateY(-50%);
}


body{
  background-image: url('../img/background01.png');
  background-attachment: fixed;
  background-size: 100%;
  background-color: white;
}

.button{
  background-color: transparent;
  border: 1px solid @sandstorm;
  width: 200px;
  height: 50px;
  color: @sandstorm;
  font-family: "geo";
}
//_____________________________Header_______________________________________
.navbar-fixed{
  position: absolute !important;
  nav{
    background-color: transparent !important;

    .nav-wrapper{
      ul li a{

        font-family: "geo";
        font-size: 18px;
        // letter-spacing: 2px;
      }
      .brand-logo{
        font-family: "freFont";
        margin-left: 20px;
        color: @sandstorm;
      }
    }
  }
}




//_________________________Page d'accueil____________________________________
.home{
  height: 100vh;
  .logoPresentation{
    margin : auto;
    width: 50%;
    border: 3px solid @platinium;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .vertical-align;
    img{
      height: 400px;
    }
    p{
      color: @platinium;
      font-family: 'freFont';
      font-size: 2em;
    }
  }
}


.main{
  box-shadow: 0px 0px 100px -42px rgba(0, 0, 0, 0.5);
}
