.navbar-fixed
  nav
    .nav-wrapper
      a.brand-logo(href='#') Le blog du dev'
      a.button-collapse(href='#', data-activates='mobile')
        i.fa.fa-bars(aria-hidden='true')

      ul#nav-mobile.right.hide-on-med-and-down
        li
          a(href='../firstTest') Accueil
        li
          a(href='../articles') Articles
        li
          a(href='collapsible.html') A propos
        li
          a(href='#modalAdmin') 
            i.fa.fa-power-off(aria-hidden='true')

//Navbar mobile sidenav extract to .navbar-fixed because it's create conflicts   
ul#mobile.side-nav
  li
    a(href='../firstTest') Accueil
  li
    a(href='../articles') Articles
  li
    a(href='collapsible.html') A propos
        

//Modal admin connection
  
#modalAdmin.modal
  .modal-content
    h4 Welcome Admin !
    .row
    form.col.s12 
    .row
      .input-field.col.s12
        input#email.validate(type='email')
        |           
        label(for='email') Email
    .row
      .input-field.col.s12
        input#password.validate(type='password')
        |           
        label(for='password') Password
        |       
    
 
  .modal-footer
    a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Cancel
